<html>
    <head>
        <title>Home</title>
        <link rel="style/javascript" href= "{{ url_for('static',filename='app.js') }}">
    </head>
<body>
  <body style="background-color:cream;">
  <h1 style="color:red; text-align:center;">Welcome to SyllyCalendar</h1>
</body>
  <h2 style="text-align:center;">This site is designed to read uploaded PDF documents, linked website calendars, and personal events to provide users with a calendar of all their events</h2>
  <div style="display: center;">
    <img src="https://static.vecteezy.com/system/resources/previews/001/970/338/original/building-under-construction-site-free-vector.jpg" alt="Second Meme" height="350" width="500">
</div>
</html>
